h1 {
    font-size: 50px;   
}
.orange-highlight{
    color: chocolate;
}
body{
    font-family: "Roboto", sans-serif;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
    
.half-width img{
    width: 100%;
}
.tob-banar{
    background-repeat: no-repeat;
    background-image: url("img/top-banner.png");
}
section{
    height: 500px;
   padding-bottom: 100px;

}
body{
    margin: 0;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(lightsalmon,tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
h2{
    font-size: 40px;
}
p{
    color: rgb(49, 41, 41);
}
.dream-area{
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.single-experience{
    box-shadow:10px 10px 40px gray;
    border-radius: 5px;
    height: 80%;
}
.exprience-area{
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-color: white;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,rgb(226, 186, 186),red);
    border-image-slice: 1;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,rgb(188, 188, 216),blue);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}


